@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i,700|PT+Mono'); 
@font-face {
  font-family: "w95fa"; 
  src: url('w95fa.woff') format('woff'); 
}

body {
  font-family: w95fa; 
  margin: 0; 
  color: white; 
  background-color: #008080;
  overflow: hidden; 
  cursor: url('data:image/x-icon;base64,AAACAAEAICACAAIABAAwAQAAFgAAACgAAAAgAAAAQAAAAAEAAQAAAAAAgAAAAAAAAAAAAAAAAgAAAAAAAAAAAAAA////AAAAAAAAAAAAAAAAAAAAAAAAHAAAABwAAAA4AAAAOAAAAHAAAABwAAAQ4AAAGOAAAB3AAAAfwAAAH/4AAB/8AAAf+AAAH/AAAB/gAAAfwAAAH4AAAB8AAAAeAAAAHAAAABgAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA/////////////////+P////B////wf///4P///+D///fB///zwf//8YP///CD///wB///8AAf//AAP//wAH//8AD///AB///wA///8Af///AP///wH///8D////B////w////8f////P////3/////////////////////////8='), auto;
}

header {
  padding: 100px; 
  text-align: center; 
  color: #fff; 
}

a { 
  color: white;  
  text-decoration: none;
}

#welcomeDiv { }
.columns {
  display: flex; 
}

.column {
  margin: 10px; 
  width: 48px; 
}

.desktop {
  width: 100%; 
  height: 100vh; 
  overflow: hidden; 
}

.desktop-icons {
  position: absolute; 
  top: 8px;
  left: 16px;
}

.desktop-icon {
  width: 115px; 
  height: 100px; 
  color: white; 
  text-align: center; 
  background: no-repeat center top; 
  padding-top: 55px; 
}

.my-computer{
  background-image: url(https://win98icons.alexmeub.com/icons/png/computer_explorer-5.png);
}

.about-me {
  background-image: url(https://win98icons.alexmeub.com/icons/png/search_directory-0.png);
}

.contact {
  background-image: url(https://win98icons.alexmeub.com/icons/png/entire_network_globe-0.png);
}

.taskbar {
  position: fixed; 
  bottom: 0; 
  left: 0;
  display: block;
  height: 38px; 
  width: 100vw; 
  background-color: #BDBEBD; 
  border-top: 2px solid white; 
  padding: 3px; 
}

/* #startbutton {
  display: inline-block; 
  background-image: url('https://raw.githubusercontent.com/lolstring/window98-html-css-js/master/app/images/win98_icons/windows.ico');
  background-repeat: no-repeat;
  text-decoration: none; 
  color: black; 
  width: 70px; 
  height: 24px; 
  text-align: right; 
  font-family: sans-serif; 
  padding: 4px; 
  background-size: auto 70%; 
  background-position: 5% 50%; 
  user-select: none; 
  background-color: transparent; 
  border: none; 
  overflow: hidden; 
  outline: none; 
  cursor: url('https://toppng.com/uploads/preview/transparent-hand-cursor-11549398023fvekx0mett.png'); 
}

#startbutton:active {
  box-shadow: 1px 1px 0px 1px #808080, 2px 2px 0px 2px #fff, -1px -1px 0px 1px #000; 
} */

button {
  font-family: w95fa; 
}

#start  {
  display: inline-block; 
  vertical-align: top; 
}

#startbutton span {
  font-weight: 700; 
  font-size: 13px; 
  text-align: right;
  vertical-align: top;
}

#startbutton img {
  max-height: 23px;
  padding-right: 5px;
  margin-bottom: -5px;
}

.startbutton:active {
  max-height: 25px!important; 
  min-height: 25px!important; 
}


#time {
  border: solid 2px;
  border-top-color: #979997;
  border-left-color: #979997;
  border-right-color: white;
  border-bottom-color: white;  
  position: fixed; 
  padding: 5.5px;
  bottom: 8.0px; 
  right: 1vh; 
  color: black;
  vertical-align: center;
  min-width: 10px; 
  min-height: 5px;
  font-size: 18px;
}

.volume {
  background-image: url('https://win98icons.alexmeub.com/icons/png/loudspeaker_rays-1.png'); 
  position: fixed; 
  top: 50%; 
  left: 50%;
}

button:hover {
  outline: none; 
  cursor: url('https://toppng.com/uploads/preview/transparent-hand-cursor-11549398023fvekx0mett.png'); 
}

