/* Roots */
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i,700%7CPT+Mono');
@font-face { 
  font-family: "w95fa"; 
  src: url('css/w95fa.woff') format('woff'); 
}
:root { 
  --blueGreen: #008080; 
  --grey: #BDBEBD; 
  --darkerGrey: #979997; 
  --lighterGrey: #e6e6e6;
}

html, body { 
  background-color: var(--blueGreen);
  margin: 0 auto;
  font-family: w95fa;
  cursor: url("img/cursor.png"), auto;
  height: 100%;
  line-height: 1.28em;
}

/* Icons */
.icons {  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  width: 150px;
  position: relative;
  left: 10px;
  top: 20px;
  cursor: url("img/Cursor107.cur"), pointer;
}

.icons .computer-icon { 
  flex-direction: column;
  text-align: center;
  color: #FFFFFF; 
  margin-bottom: 20px;
}

.computer-icon p { 
  margin-top: 5px;
  font-size: 20px;
}

.icons .aboutme-icon { 
  flex-direction: column;
  text-align: center;
  color: #FFFFFF; 
  margin-bottom: 20px;
}

.aboutme-icon p { 
  margin-top: 5px;
  font-size: 20px;
}

.icons .contact-icon { 
  flex-direction: column;
  text-align: center;
  color: #FFFFFF; 
}

.contact-icon p { 
  margin-top: 5px;
  font-size: 20px;
}

.icons .resume-icon { 
  flex-direction: column;
  text-align: center;
  color: #FFFFFF; 
  margin-top: 20px;
}

.resume-icon p { 
  margin-top: 5px;
  font-size: 20px;
}

.resume-icon a { 
  text-decoration: none;
  color: #FFFFFF;
}


/* Intro Message */
.intro { 
  position: fixed;
  left: 50%;
  top: 10%;
  transform: translate(-50%, 0);
  border-top: 2px solid #FFFFFF; 
  border-left: 2px solid #FFFFFF;
  border-bottom: 2px solid var(--darkerGrey);
  border-right: 2px solid var(--darkerGrey);
  background-color: var(--grey);
}

.intro .intro-header { 
  display: flex;
  justify-content: space-between;
  height: 20px;
  color: #FFFFFF;
  background-color: #0808a9;
  cursor: url("img/Cursor107.cur"), pointer;
}

.intro-header p { 
  margin: 3px;
  cursor: url("img/Cursor107.cur"), pointer;

}

.intro .intro-buttons { 
  margin-top: 1px;
  cursor: url("img/Cursor107.cur"), pointer;
}

.intro .intro-buttons .minimize { 
  background-image: url('img/minimize.png'); 
  height: 18px;
  width: 20px;
  background-size: 18px;
  background-repeat: no-repeat;
  cursor: url('img/Cursor107.cur'), pointer;
}

.intro .intro-buttons .closeOut { 
  background-image: url('img/closeOut.png'); 
  height: 18px;
  width: 20px;
  background-size: 18px;
  background-repeat: no-repeat;
  margin-right: 2px;
  cursor: url('img/Cursor107.cur'), pointer;
}

.intro .intro-options { 
  background-color: var(--grey); 
  height: 18px;
  display: flex;
  justify-content: left;
  cursor: url("img/Cursor107.cur"), pointer;

}

.intro-options p { 
  margin: 0;
  padding-left: 3px;
  padding-top: 2px;
}

.intro .intro-separator { 
  width: 100%;
  height: 4px;
  border-top: 1px solid var(--darkerGrey);
  background-color: var(--grey);
}

.intro .intro-content { 
  background-color:#ffffe1; 
  width: 588px;
  height: 570px;
  display: table;
  margin: 0 auto;
  align-items: center;
  border-top: 2px solid #000000;
  border-left: 2px solid #000000;
  border-right: 2px solid #FFFFFF; 
  border-bottom: 2px solid #FFFFFF; 
}

.intro-content .text-content { 
  width: 300px; 
  height: 100px; 
  position: absolute;
  left: 40px;
  display: flex; 
  flex-direction: column;
  text-align: center;
}

.intro-content #rectangle { 
  width: 500px;
  margin: 0px;
  font-size: 20px;
  text-align: left;

}

.text-content p { 
  font-size: 20px;
  margin: 0;
  text-align: left;
}
.intro-content img { 
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: absolute;
  top: 75px; 
  right: 20px;
}


.intro .intro-footer { 
  background-color: var(--grey); 
  width: 588px; 
  margin: 0 auto;
  height: 27px;
  border-top: 1px solid var(--darkerGrey); 
  border-left: 1px solid var(--darkerGrey); 
  border-bottom: 1px solid #FFFFFF; 
  border-right: 1px solid #FFFFFF;
  padding-top: 1px;
  cursor: url("img/Cursor107.cur"), pointer;
}

.intro-footer .intro-footer-content { 
  display: flex;
  justify-content: space-between;
}

.intro-footer-content p { 
  margin-top: 6px;
  margin-left: 4px;
  text-align: center;
}

.intro-footer-content img { 
  margin-top: 10px;
}

/* About Me Content */
.aboutme-content { 
  position: absolute; 
  width: 600px; 
  height: 720px;
  right: 40%;
  border-top: 2px solid #FFFFFF; 
  border-left: 2px solid #FFFFFF;
  border-bottom: 2px solid var(--darkerGrey);
  border-right: 2px solid var(--darkerGrey);
  background-color: var(--grey);
  bottom: 120px;
}

.aboutme-content .aboutme-header { 
  display: flex;
  justify-content: space-between;
  height: 20px;
  color: #FFFFFF;
  background-color: #0808a9;
}

.aboutme-header p { 
  margin: 3px;
  cursor: url("img/Cursor107.cur"), pointer;

}

.aboutme-content .aboutme-buttons { 
  margin: 1px;
  cursor: url("img/Cursor107.cur"), pointer;
}

.aboutme-content .aboutme-buttons .minimize { 
  background-image: url('img/minimize.png'); 
  height: 18px;
  width: 20px;
  background-size: 18px;
  background-repeat: no-repeat;
  cursor: url('img/Cursor107.cur'), pointer;
}

.aboutme-content .aboutme-buttons .closeOut { 
  background-image: url('img/closeOut.png'); 
  height: 18px;
  width: 20px;
  background-size: 18px;
  background-repeat: no-repeat;
  margin-right: 2px;
  cursor: url('img/Cursor107.cur'), pointer;
}

.aboutme-content .aboutme-options { 
  background-color: var(--grey); 
  height: 18px;
  display: flex;
  justify-content: left;
  cursor: url("img/Cursor107.cur"), pointer;

}

.aboutme-options p { 
  margin: 0;
  padding-left: 3px;
  padding-top: 2px;
}

.aboutme-content .aboutme-separator { 
  width: 100%;
  height: 4px;
  border-top: 1px solid var(--darkerGrey);
  background-color: var(--grey);
}

.aboutme-content .aboutme-text { 
  background-color:#ffffe1; 
  width: 588px;
  height: 520px;
  display: table;
  border-top: 2px solid #000000;
  border-left: 2px solid #000000;
  border-right: 2px solid #FFFFFF; 
  border-bottom: 2px solid #FFFFFF; 
  position: absolute; 
  left: 3px;
}

.aboutme-text { 
  width: 300px; 
  height: 100px; 
  position: absolute;
  left: 40px;
  display: flex; 
  flex-direction: column;
  text-align: center;
}

.aboutme-text ul { 
  font-size: 20px;
  text-align: left;
  position: relative; 
  bottom: 10px;
  margin: 7px;;
}

.aboutme-text .projects { 
  margin-top: 20px;
}

.aboutme-content .aboutme-text .project-title a { 
  color: #0808a9; 
}

.aboutme-content .aboutme-footer { 
  background-color: var(--grey); 
  width: 590px; 
  margin: 0 auto;
  position: absolute; 
  bottom: 1px;
  left: 3px;
  height: 27px;
  border-top: 1px solid var(--darkerGrey); 
  border-left: 1px solid var(--darkerGrey); 
  border-bottom: 1px solid #FFFFFF; 
  border-right: 1px solid #FFFFFF;
  padding-top: 1px;
}

.aboutme-footer .aboutme-footer-content { 
  display: flex;
  justify-content: space-between;
}

.aboutme-footer-content p { 
  margin-top: 6px;
  margin-left: 4px;
  text-align: center;
}

.aboutme-footer-content img { 
  margin-top: 10px;
}




/* Contact Content */
.contact-content { 
  position: absolute; 
  width: 600px; 
  height: 450px;
  left: 40%;
  border-top: 2px solid #FFFFFF; 
  border-left: 2px solid #FFFFFF;
  border-bottom: 2px solid var(--darkerGrey);
  border-right: 2px solid var(--darkerGrey);
  background-color: var(--grey);
}

.contact-content .contact-header { 
  display: flex;
  justify-content: space-between;
  height: 20px;
  color: #FFFFFF;
  background-color: #0808a9;
  cursor: url('img/Cursor107.cur'), pointer;
}

.contact-header p { 
  margin: 3px;
  cursor: url("img/Cursor107.cur"), pointer;

}

.contact-content .contact-buttons { 
  margin-top: 1px;
  cursor: url("img/Cursor107.cur"), pointer;

}

.contact-content .contact-buttons .minimize { 
  background-image: url('img/minimize.png'); 
  height: 18px;
  width: 20px;
  background-size: 18px;
  background-repeat: no-repeat;
  cursor: url('img/Cursor107.cur'), pointer;
}

.contact-content .contact-buttons .closeOut { 
  background-image: url('img/closeOut.png'); 
  height: 18px;
  width: 20px;
  background-size: 18px;
  background-repeat: no-repeat;
  margin-right: 2px;
  cursor: url('img/Cursor107.cur'), pointer;
}

.contact-content .contact-options { 
  background-color: var(--grey); 
  height: 18px;
  display: flex;
  justify-content: left;
  cursor: url("img/Cursor107.cur"), pointer;

}

.contact-options p { 
  margin: 0;
  padding-left: 3px;
  padding-top: 2px;
}

.contact-content .contact-separator { 
  width: 100%;
  height: 4px;
  border-top: 1px solid var(--darkerGrey);
  background-color: var(--grey);
}


.contact-content .contact-redirects .contact-icons { 
  display: flex; 
  flex-direction: row;
  justify-content: space-around;
  margin-top: 100px;
}

.contact-redirects .contact-icons { 
  display: flex; 
  flex-direction: row;
  justify-content: space-around;
  margin: 3px;
}

.contact-footer .contact-footer-content { 
  display: flex;
  justify-content: space-between;
}

.contact-footer-content p { 
  margin-top: 6px;
  margin-left: 4px;
  text-align: center;
}

.contact-footer-content img { 
  margin-top: 10px;
  
}

.contact-redirects h1 { 
  position: absolute; 
  top: 10px;
  right: 100px;
  padding: 0;
}

.contact-redirects .mail { 
  align-items: center;
  text-align: center;
  padding: 0;
}

.mail a { 
  color: #000000; 
  text-decoration: none;
  font-size: 24px;
  padding: 0;
}

.contact-redirects .linkedin { 
  align-items: center;
  text-align: center;
  padding: 0;
}

.linkedin a { 
  color: #000000; 
  text-decoration: none;
  font-size: 24px;
  padding: 0;
}

.contact-redirects .github { 
  align-items: center;
  text-align: center;
  padding: 0;
}

.github a { 
  color: #000000; 
  text-decoration: none;
  font-size: 24px;
  padding: 0;
}

.contact-text p { 
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.contact-content .contact-footer { 
  background-color: var(--grey); 
  width: 590px; 
  margin: 0 auto;
  position: absolute; 
  bottom: 1px;
  left: 3px;
  height: 27px;
  border-top: 1px solid var(--darkerGrey); 
  border-left: 1px solid var(--darkerGrey); 
  border-bottom: 1px solid #FFFFFF; 
  border-right: 1px solid #FFFFFF;
  padding-top: 1px;
}

.contact-footer .contact-footer-content { 
  display: flex;
  justify-content: space-between;
}

.contact-footer-content p { 
  margin-top: 6px;
  margin-left: 4px;
  text-align: center;
}

.contact-footer-content img { 
  margin-top: 10px;
  
}

/* Terminal */
.terminal-content { 
  position: absolute; 
  width: 600px; 
  height: 450px;
  right: 30%; 
  bottom: 40%;
  border-top: 2px solid #FFFFFF; 
  border-left: 2px solid #FFFFFF;
  border-bottom: 2px solid var(--darkerGrey);
  border-right: 2px solid var(--darkerGrey);
  background-color: var(--grey);
}

.terminal-content .terminal-header { 
  display: flex;
  justify-content: space-between;
  height: 20px;
  color: #FFFFFF;
  background-color: #0808a9;
}

.terminal-header h4 { 
  margin: 3px;
  cursor: url("img/Cursor107.cur"), pointer;
  position: relative; 
  left: -220px;
}

.terminal-content .terminal-buttons { 
  margin-top: 1px;
  cursor: url("img/Cursor107.cur"), pointer;
}

.terminal-content .terminal-buttons .minimize { 
  background-image: url('img/minimize.png'); 
  height: 18px;
  width: 20px;
  background-size: 18px;
  background-repeat: no-repeat;
  cursor: url('img/Cursor107.cur'), pointer;
}

.terminal-content .terminal-buttons .closeOut { 
  background-image: url('img/closeOut.png'); 
  height: 18px;
  width: 20px;
  background-size: 18px;
  background-repeat: no-repeat;
  margin-right: 2px;
  cursor: url('img/Cursor107.cur'), pointer;
}

.terminal-content .terminal-options { 
  background-color: var(--grey); 
  height: 18px;
  display: flex;
  justify-content: left;
  cursor: url("img/Cursor107.cur"), pointer;

}

.terminal-options p { 
  margin: 0;
  padding-left: 3px;
  padding-top: 2px;
}

.terminal-content .terminal-separator { 
  width: 100%;
  height: 4px;
  border-top: 1px solid var(--darkerGrey);
  background-color: var(--grey);
}

.terminal-content .css-typing { 
  background-color: #000000;
  width: 588px;
  height: 370px;
  display: table;
  margin: 0 auto;
  align-items: center;
  border-top: 2px solid #000000;
  border-left: 2px solid #000000;
  border-right: 2px solid #FFFFFF; 
  border-bottom: 2px solid #FFFFFF; 
  position: absolute; 
  left: 3px;
}

.css-typing { 
  width: 100px; 
  height: 100px; 
  position: absolute;
  left: 40px;
  display: flex; 
  flex-direction: column;
  text-align: left;
  color: #FFFFFF;
  font-size: 18px;
}


.terminal-content .terminal-footer { 
  background-color: var(--grey); 
  width: 590px; 
  margin: 0 auto;
  position: absolute; 
  bottom: 1px;
  left: 3px;
  height: 27px;
  border-top: 1px solid var(--darkerGrey); 
  border-left: 1px solid var(--darkerGrey); 
  border-bottom: 1px solid #FFFFFF; 
  border-right: 1px solid #FFFFFF;
  padding-top: 1px;
}

.terminal-footer .terminal-footer-content { 
  display: flex;
  justify-content: space-between;
}

.terminal-footer-content p { 
  margin-top: 6px;
  margin-left: 4px;
  text-align: center;
}

.terminal-footer-content img { 
  margin-top: 10px;
}

.css-typing p {
  border-right: .15em solid orange;
  font-family: "Courier";
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
}

.css-typing p:nth-child(1) {
  width: 274px;
  -webkit-animation: type 2s steps(23, end);
  animation: type 2s steps(23, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(2) {
  width: 345px;
  opacity: 0;
  -webkit-animation: type2 2s steps(29, end);
  animation: type2 2s steps(29, end);
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(3) {
  width: 345px;
  opacity: 0;
  -webkit-animation: type3 2s steps(28, end);
  animation: type3 2s steps(28, end);
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  border: none;
}

.css-typing p:nth-child(5) {
  width: 280px;
  opacity: 0;
  -webkit-animation: type3 2s steps(23, end), blink .5s step-end infinite alternate;
  animation: type3 2s steps(23, end), blink .5s step-end infinite alternate;
  -webkit-animation-delay: 7s;
  animation-delay: 7s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: tranparent;
  }
}

/* Taskbar */
footer #taskbar { 
  bottom: 0; 
  position: fixed; 
  background-color: var(--grey);
  border-top: 2px solid #FFFFFF; 
  height: 65px;
  width: 100%;
}

#taskbar .startButton { 
  z-index: 150; 
  position: fixed; 
  bottom: 15px;
  left: 2px;
  border-top: 2px solid #FFFFFF; 
  border-left: 2px solid #FFFFFF; 
  border-bottom: 2px solid #000000; 
  border-right: 2px solid #000000;
  width: 100px;
  height: 37px;
  display: flex; 
  justify-content: space-around;
  font-size: 22px;
}

#taskbar .startButton p { 
  font-weight: 600;
  position: relative;
  bottom: 13px;
}

#taskbar .startButton:hover { 
  cursor: url("img/Cursor107.cur"), pointer;
}

#taskbar .startButton:active { 
  border-top: 2px solid #000000; 
  border-left: 2px solid #000000; 
  border-bottom: 2px solid #FFFFFF; 
  border-right: 2px solid #FFFFFF;
  background-color: var(--lighterGrey);
  cursor: url("img/Cursor107.cur"), pointer;
}

#taskbar .partition { 
  width: 1px; 
  height: 40px;
  border-left: 1px solid var(--darkerGrey); 
  border-right: 1px solid #FFFFFF;
  position: relative;
  bottom: -10px;
  left: 116px;
}

#taskbar .icons { 
  position: absolute;
  display: flex; 
  flex-direction: row; 
  left: 120px;
  justify-content: space-around;
  top: 15px;
  cursor: url("img/verboten.png"), pointer;
}

#taskbar .partition1 { 
  width: 1px; 
  height: 40px;
  border-left: 1px solid var(--darkerGrey); 
  border-right: 1px solid #FFFFFF;
  position: relative;
  bottom: 29px;
  left: 268px;
}

#taskbar .partition2 { 
  width: 1px; 
  height: 40px;
  border-left: 1px solid var(--darkerGrey); 
  border-right: 1px solid #FFFFFF;
  position: absolute;
  bottom: 100px;
}

#taskbar .clock { 
  border: solid 2px; 
  border-top-color: var(--darkerGrey); 
  border-left-color: var(--darkerGrey); 
  border-right-color: #FFFFFF; 
  border-bottom-color: #FFFFFF; 
  z-index: 150; 
  position: fixed; 
  bottom: 2px; 
  right: 8px;
  font-size: 24px;
  max-width: 100px;
  max-height: 40px;
  text-align: center;
  vertical-align: middle; 
  margin: 10px 13px; 
  padding: 10px 13px;
}

 .volume { 
  z-index: 150;
  position: fixed; 
  right: 140px;
  bottom: 13px;
}

#taskbar .intro-button { 
  z-index: 150; 
  position: fixed; 
  bottom: 15px;
  left: 280px;
  border-top: 2px solid #FFFFFF; 
  border-left: 2px solid #FFFFFF; 
  border-bottom: 2px solid #000000; 
  border-right: 2px solid #000000;
  width: 150px;
  height: 37px;
  display: flex; 
  justify-content: space-around;
  font-size: 19px;
  cursor: url("img/Cursor107.cur"), pointer;
}

#taskbar .intro-button:active { 
  border-bottom: 2px solid #FFFFFF; 
  border-right: 2px solid #FFFFFF; 
  border-top: 2px solid #000000; 
  border-left: 2px solid #000000;
  background-color: var(--lighterGrey);
}

.intro-button p { 
  font-weight: 600;
  position: relative;
  bottom: 10px;
}

.intro-button img { 
  position: relative;
  top: 100px;
}

/* Start Menu */
#startmenu { 
  width: 300px;
  height: 457px;
  display: flex; 
  flex-direction: column; 
  position: fixed;
  left: 0px;
  bottom: 65px;
  background-color: var(--grey);
  border-top: 2px solid #FFFFFF; 
  border-left: 2px solid #FFFFFF; 
  border-bottom: 2px solid var(--darkerGrey); 
  border-right: 2px solid var(--darkerGrey);
  z-index: 200;
  margin: 0;
}

#startmenu .startmenu-title  { 
  transform-origin: 100% 0%; 
  transform: rotate(270deg);
  color: #FFFFFF;
  text-align: center;
  font-size: 30px;
  margin: 0;
  padding: 0;
  background-color:#0808a9; 
  font-family: "MS Sans Serif", sans-serif;
  position: fixed;
  z-index: 300;
  height: 43px;
  width: 457px;
  left: -455px;
  bottom: 481px;
}

#startmenu .startmenu-title h3 { 
  position: relative; 
  bottom: 29px;
  right: 120px;
}

#startmenu .startmenu-options { 
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  position: fixed; 
  z-index: 210;
  align-items: left;
  left: 45px;
  padding-top: 10px;
  bottom: 67px;
  width: 100px;
  height: 457px;
}

#startmenu .startmenu-options:hover { 
  cursor: url("img/Cursor107.cur"), pointer;
}


.startmenu-options .computerIcon { 
  background-color: var(--grey);
  width: 247px;
  margin-bottom: 0;
  display: flex; 
  flex-direction: row;
  padding-top: 9px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.startmenu-options .computerIcon:hover {
  color: #FFFFFF; 
  background-color: #0808a9; 
  cursor: url("img/Cursor107.cur");
}

.computerIcon p { 
  text-align: center;
  align-items: center;
  margin-left: 10px;
}

.startmenu-options .aboutmeIcon { 
  background-color: var(--grey);
  width: 247px;
  margin-bottom: 0;
  display: flex; 
  flex-direction: row;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.startmenu-options .aboutmeIcon:hover {
  color: #FFFFFF; 
  background-color: #0808a9; 
  cursor: url("img/Cursor107.cur");
}

.aboutmeIcon p { 
  text-align: center;
  align-items: center;
  margin-left: 10px;
}

.startmenu-options .contactIcon { 
  background-color:var(--grey);
  width: 247px;
  margin-bottom: 0;
  display: flex; 
  flex-direction: row;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.startmenu-options .contactIcon:hover {
  color: #FFFFFF; 
  background-color: #0808a9; 
  cursor: url("img/Cursor107.cur");

}

.contactIcon p { 
  text-align: center;
  align-items: center;
  margin-left: 10px;
}

.startmenu-options .resumeIcon { 
  background-color: var(--grey);
  width: 247px;
  margin-bottom: 0;
  display: flex; 
  flex-direction: row;
  padding-top: 9px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.startmenu-options .resumeIcon:hover {
  color: #FFFFFF; 
  background-color: #0808a9; 
  cursor: url("img/Cursor107.cur");

}

.resumeIcon p { 
  text-align: center;
  align-items: center;
  margin-left: 10px;
}

.startmenu-options .menu-partition { 
  height: 2px;
  width: 247px;
  position: relative;
  left: 4px;
  border-top: 1px solid var(--darkerGrey);
  border-bottom: 1px solid #FFFFFF;
} 

.startmenu-options .credits { 
  background-color: var(--grey);
  width: 247px;
  margin-bottom: 0;
  display: flex; 
  flex-direction: row;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.startmenu-options .credits:hover {
  color: #FFFFFF; 
  background-color: #0808a9; 
  cursor: url("img/Cursor107.cur");
}

.credits p { 
  text-align: center;
  align-items: center;
  margin-left: 18px;
}

.startmenu-options .shutDown { 
  background-color: var(--grey);
  width: 247px;
  margin-bottom: 0;
  display: flex; 
  flex-direction: row;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.startmenu-options .shutDown:hover {
  color: #FFFFFF; 
  background-color: #0808a9; 
  cursor: url("img/Cursor107.cur");

}

.shutDown p { 
  text-align: center;
  align-items: center;
  margin-left: 10px;
}

/* Clippy */
.clippy { 
  position: fixed;
  bottom: 60px; 
  right: 0;
  width: 400px;
  height: 600px;
  align-items: center;
}

.clippy .clippy-body { 
  position: absolute;
  bottom: 40px; 
  right: 30px;
  width: 150px;
}

.clippy .clippy-message { 
  position: absolute; 
  bottom: 180px;
  left: 35px;
}

.clippy .clippy-message .text { 
  position: absolute; 
  bottom: 45px;
  left: 10px;
  font-size: 18px;
  line-height: 1.25em;
}

.clippy .clippy-body { 
  opacity: 0; 
  -webkit-animation: swirl-in .6s ease-out 6s both, swirl-out .6s ease 13s;
  animation: swirl-in .8s ease-out 6s both, swirl-out .6s ease 13s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.clippy .clippy-message { 
  opacity: 0; 
  animation: showUp .8s ease-out 6s both, goAway .6s ease 13s; 
  animation-fill-mode: forwards;
}

/* Clippy Animations */
@keyframes swirl-in { 
  0% { 
    --webkit-transform: rotate(-540deg) scale(0); 
    transform: rotate(-540deg) scale(0); 
    opacity: 0; 
  }

  100% { 
    --webkit-transform: rotate(0) scale(1); 
    transform: rotate(0) scale(1); 
    opacity: 1; 
  }
}

@keyframes swirl-out { 
  0% {
    --webkit-transform: rotate(0) scale(1); 
    transform: rotate(0) scale(1); 
    opacity: 1; 
   }

   100% { 
    --webkit-transform: rotate(-540deg) scale(0); 
    transform: rotate(-540deg) scale(0); 
    opacity: 0; 
   }
}

@keyframes showUp { 
  0% { 
    opacity: 0; 
  }

  100% { 
    opacity: 1; 
  }
}

@keyframes goAway { 
  0% { 
    opacity: 1; 
  }

  100% { 
    opacity: 0; 
  }
}


/* Credits Content */
.credits-content { 
  position: absolute; 
  width: 600px; 
  height: 450px;
  left: 40%;
  border-top: 2px solid #FFFFFF; 
  border-left: 2px solid #FFFFFF;
  border-bottom: 2px solid var(--darkerGrey);
  border-right: 2px solid var(--darkerGrey);
  background-color: var(--grey);
}

.credits-content .credits-header { 
  display: flex;
  justify-content: space-between;
  height: 20px;
  color: #FFFFFF;
  background-color: #0808a9;
  cursor: url("img/Cursor107.cur"), pointer;
}

.credits-header p { 
  margin: 3px;
  cursor: url("img/Cursor107.cur"), pointer;

}

.credits-content .credits-buttons { 
  margin-top: 1px;
  cursor: url("img/Cursor107.cur"), pointer;

}

.credits-content .credits-buttons .minimize { 
  background-image: url('img/minimize.png'); 
  height: 18px;
  width: 20px;
  background-size: 18px;
  background-repeat: no-repeat;
  cursor: url('img/Cursor107.cur'), pointer;
}

.credits-content .credits-buttons .closeOut { 
  background-image: url('img/closeOut.png'); 
  height: 18px;
  width: 20px;
  background-size: 18px;
  background-repeat: no-repeat;
  margin-right: 2px;
  cursor: url('img/Cursor107.cur'), pointer;
}

.credits-content .credits-options { 
  background-color: var(--grey); 
  height: 18px;
  display: flex;
  justify-content: left;
  cursor: url("img/Cursor107.cur"), pointer;

}

.credits-options p { 
  margin: 0;
  padding-left: 3px;
  padding-top: 2px;
}

.credits-content .credits-separator { 
  width: 100%;
  height: 4px;
  border-top: 1px solid var(--darkerGrey);
  background-color: var(--grey);
}

.credits-content .information { 
  background-color:#ffffe1; 
  width: 588px;
  height: 370px;
  display: table;
  margin: 0 auto;
  align-items: center;
  border-top: 2px solid #000000;
  border-left: 2px solid #000000;
  border-right: 2px solid #FFFFFF; 
  border-bottom: 2px solid #FFFFFF; 
  position: absolute; 
  left: 3px;
}

.information { 
  width: 300px; 
  height: 100px; 
  position: absolute;
  left: 40px;
  display: flex; 
  flex-direction: column;
  text-align: left;
}

.information p { 
  font-size: 20px;
  margin: 20px;
}

.credits-content .credits-footer { 
  background-color: var(--grey); 
  width: 590px; 
  margin: 0 auto;
  position: absolute; 
  bottom: 1px;
  left: 3px;
  height: 27px;
  border-top: 1px solid var(--darkerGrey); 
  border-left: 1px solid var(--darkerGrey); 
  border-bottom: 1px solid #FFFFFF; 
  border-right: 1px solid #FFFFFF;
  padding-top: 1px;
}

.credits-footer .credits-footer-content { 
  display: flex;
  justify-content: space-between;
}

.credits-footer-content p { 
  margin-top: 6px;
  margin-left: 4px;
  text-align: center;
}

.credits-footer-content img { 
  margin-top: 10px;
}



/* --------------------------------------------------- */


/* 
MOBILE VERSION */
@media only screen and (max-width: 767px) { 
  body { 
    background-color: #008080;
  }

/* Removing Displays */
  #taskbar .icons { 
    display: none;
  }

  #taskbar .partition1 { 
    display: none;
  }

  #taskbar .partition { 
    display: none;
  }

  #taskbar .partition2 { 
    display: none; 
  }

  #taskbar .intro-button { 
    display: none;
  }

  #taskbar .volume { 
    display: none;
  }
  .clippy { 
    display: none;
  }

  /* Icons */

  .icons {  
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    height: 100px;
    width: 100%;
    margin: 0 auto;
    left: -1px;
  }
  
  .icons .computer-icon { 
    flex-direction: column;
    text-align: center;
    color: #FFFFFF; 
    height: 120px;
  }

  .computer-icon p { 
    margin-top: 5px;
    font-size: 20px;
  }
  
  .icons .aboutme-icon { 
    flex-direction: column;
    text-align: center;
    color: #FFFFFF; 
  }
  
  .aboutme-icon p { 
    margin-top: 5px;
    font-size: 20px;
  }
  
  .icons .contact-icon { 
    flex-direction: column;
    text-align: center;
    color: #FFFFFF; 
  }
  
  .contact-icon p { 
    margin-top: 5px;
    font-size: 20px;
  }
  
  .icons .resume-icon { 
    text-align: center;
    position: relative;
    bottom: 20px;
  }
  
  .resume-icon p { 
    margin-top: 5px;
    font-size: 20px;
  }
  
  .resume-icon a { 
    text-decoration: none;
    color: #FFFFFF;
  }

  /* Intro */
.intro { 
  position: relative;
  border-top: 2px solid #FFFFFF; 
  border-left: 2px solid #FFFFFF;
  border-bottom: 2px solid var(--darkerGrey);
  border-right: 2px solid var(--darkerGrey);
  background-color: var(--grey);
  height: 480px; 
  width: 320px;
  left: 50%; 
  transform: translateX(-50%);
}

.intro .intro-header { 
  display: flex;
  justify-content: space-between;
  height: 38px;
  color: #FFFFFF;
  background-color: #0808a9;
}

.intro-header p { 
  position: relative; 
  top: 10px;
  font-size: 20px;
}

.intro .intro-buttons { 
  position: relative;
  top: 4px;
}

.intro .intro-buttons .minimize { 
  display: none;
}

.intro .intro-buttons .closeOut { 
  background-image: url('img/closeOut.png');
  background-size: 25px;
  height: 25px;
  width: 28px;
  background-repeat: no-repeat;
  position: relative; 
}

.intro .intro-options { 
  background-color: var(--grey); 
  height: 18px;
  display: flex;
  justify-content: left;
}

.intro-options p { 
  margin: 0;
  padding-left: 3px;
  padding-top: 2px;
}

.intro .intro-separator { 
  width: 100%;
  height: 4px;
  border-top: 1px solid var(--darkerGrey);
  background-color: var(--grey);
}

.intro .intro-content { 
  background-color:#ffffe1; 
  width: 300px; 
  height: 340px;
  margin: 0 auto;
  align-items: center;
  border-top: 2px solid #000000;
  border-left: 2px solid #000000;
  border-right: 2px solid #FFFFFF; 
  border-bottom: 2px solid #FFFFFF; 
  overflow-y: scroll;
}

.intro-content .text-content { 
  width: 290px; 
  height: 365px; 
  position: relative;
  display: flex; 
  flex-direction: column;
  text-align: left;
  left: 7px;
  overflow-y: scroll;
}

.intro-content .text-content h1 { 
  margin-bottom: 25px;
  margin-top: 10px;
  text-align: center;
}

.text-content p { 
  font-size: 20px;
  margin: 0;
  text-align: left;
}

.text-content #rectangle { 
  width: 290px; 
}

.intro-content img { 
  display: none;
}


.intro .intro-footer { 
  background-color: var(--grey); 
  width: 302px; 
  margin: 0 auto;
  height: 27px;
  border-top: 1px solid var(--darkerGrey); 
  border-left: 1px solid var(--darkerGrey); 
  border-bottom: 1px solid #FFFFFF; 
  border-right: 1px solid #FFFFFF;
  padding-top: 1px;
  top: 10px;
}

.intro-footer .intro-footer-content { 
  display: flex;
  justify-content: space-between;
}

.intro-footer-content p { 
  margin-top: 6px;
  margin-left: 4px;
  text-align: center;
}

.intro-footer-content img { 
  margin-top: 10px;
}

/* Projects Content */
.aboutme-content { 
  position: relative;
  border-top: 2px solid #FFFFFF; 
  border-left: 2px solid #FFFFFF;
  border-bottom: 2px solid var(--darkerGrey);
  border-right: 2px solid var(--darkerGrey);
  background-color: var(--grey);
  height: 480px; 
  width: 320px;
  left: 50%; 
  transform: translateX(-50%);
  top: 10px;
}

.aboutme-content .aboutme-header { 
  display: flex;
  justify-content: space-between;
  height: 38px;
  color: #FFFFFF;
  background-color: #0808a9;
}

.aboutme-header p { 
  position: relative; 
  top: 10px;
  font-size: 20px;
}

.aboutme-content .aboutme-buttons { 
  position: relative;
  top: 4px;
}

.aboutme-content .aboutme-buttons .minimize { 
  display: none;
}

.aboutme-content .aboutme-buttons .closeOut { 
  background-image: url('img/closeOut.png');
  background-size: 25px;
  height: 25px;
  width: 28px;
  background-repeat: no-repeat;
  position: relative; 
}

.aboutme-content .aboutme-options { 
  background-color: var(--grey); 
  height: 18px;
  display: flex;
  justify-content: left;
}

.aboutme-options p { 
  margin: 0;
  padding-left: 3px;
  padding-top: 2px;
}

.aboutme-content .aboutme-separator { 
  width: 100%;
  height: 4px;
  border-top: 1px solid var(--darkerGrey);
  background-color: var(--grey);
}

.aboutme-content .aboutme-text { 
  width: 300px; 
  height: 384px;
  position: relative;
  display: flex; 
  flex-direction: column;
  text-align: center;
  left: 6px;
  overflow-y: scroll;
}

.aboutme-content .aboutme-text h1 { 
  margin-bottom: 35px;
  margin-top: 10px;
  text-align: center;

}

.aboutme-text p { 
  font-size: 20px;
  margin: 0;
  text-align: left;
}


.aboutme-content .aboutme-footer { 
  background-color: var(--grey); 
  width: 302px; 
  margin: 0 auto;
  height: 27px;
  border-top: 1px solid var(--darkerGrey); 
  border-left: 1px solid var(--darkerGrey); 
  border-bottom: 1px solid #FFFFFF; 
  border-right: 1px solid #FFFFFF;
  margin-top: 2px;
  position: relative;
  left: -2px;
}

.aboutme-footer .aboutme-footer-content { 
  display: flex;
  justify-content: space-between;
}

.aboutme-footer-content p { 
  margin-top: 6px;
  margin-left: 4px;
  text-align: center;
}

.aboutme-footer-content img { 
  margin-top: 10px;
}

/* Contact */
.contact-content { 
  position: relative;
  border-top: 2px solid #FFFFFF; 
  border-left: 2px solid #FFFFFF;
  border-bottom: 2px solid var(--darkerGrey);
  border-right: 2px solid var(--darkerGrey);
  background-color: var(--grey);
  height: 480px; 
  width: 320px;
  left: 50%; 
  transform: translateX(-50%);
  top: 10px;
}

.contact-content .contact-header { 
  display: flex;
  justify-content: space-between;
  height: 38px;
  color: #FFFFFF;
  background-color: #0808a9;
}

.contact-header p { 
  position: relative; 
  top: 10px;
  font-size: 20px;
}

.contact-content .contact-buttons { 
  position: relative;
  top: 4px;
}

.contact-content .contact-buttons .minimize { 
  display: none;
}

.contact-content .contact-buttons .closeOut { 
  background-image: url('img/closeOut.png');
  background-size: 25px;
  height: 25px;
  width: 28px;
  background-repeat: no-repeat;
  position: relative; 
}

.contact-content .contact-options { 
  background-color: var(--grey); 
  height: 18px;
  display: flex;
  justify-content: left;
}

.contact-options p { 
  margin: 0;
  padding-left: 3px;
  padding-top: 2px;
}

.contact-content .contact-separator { 
  width: 100%;
  height: 4px;
  border-top: 1px solid var(--darkerGrey);
  background-color: var(--grey);
}

.contact-content .contact-redirects { 
  overflow-y: scroll;
  height: 365px;
}

.contact-content .contact-redirects .contact-icons { 
  display: flex; 
  flex-direction: column;
  justify-content: space-around;
  margin-top: 0px;
  
}

.contact-redirects .contact-icons { 
  display: flex; 
  flex-direction: row;
  justify-content: space-around;
  margin: 3px;
  overflow-y: scroll;
}

.contact-footer .contact-footer-content { 
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow-y: scroll;
}

.contact-footer-content p { 
  margin-top: 6px;
  margin-left: 4px;
  text-align: center;
}

.contact-footer-content img { 
  margin-top: 10px;
}

.contact-redirects h1 { 
  position: absolute; 
  top: 10px;
  right: 100px;
  padding: 0;
}

.contact-redirects .mail { 
  align-items: center;
  text-align: center;
  margin-top: 35px;
}

.mail a { 
  color: #000000; 
  text-decoration: none;
  font-size: 24px;
}

.contact-redirects .linkedin { 
  align-items: center;
  text-align: center;
}

.linkedin a { 
  color: #000000; 
  text-decoration: none;
  font-size: 24px;
}

.contact-redirects .github { 
  align-items: center;
  text-align: center;
}

.github a { 
  color: #000000; 
  text-decoration: none;
  font-size: 24px;
}

.contact-text p { 
  font-size: 20px;
}


.contact-content .contact-footer { 
  background-color: var(--grey); 
  width: 319px; 
  margin: 0 auto;
  height: 27px;
  border-top: 1px solid var(--darkerGrey); 
  border-left: 1px solid var(--darkerGrey); 
  border-bottom: 1px solid #FFFFFF; 
  border-right: 1px solid #FFFFFF;
  margin-top: 2px;
  position: relative;
  left: -1px;
  top: 23px;
}

.contact-footer .contact-footer-content { 
  display: flex;
  justify-content: space-between;
}

.contact-footer-content p { 
  margin-top: 6px;
  margin-left: 4px;
  text-align: center;
}

.contact-footer-content img { 
  margin-top: 10px;
}

/* Credits */
.credits-content { 
  position: relative;
  border-top: 2px solid #FFFFFF; 
  border-left: 2px solid #FFFFFF;
  border-bottom: 2px solid var(--darkerGrey);
  border-right: 2px solid var(--darkerGrey);
  background-color: var(--grey);
  height: 297px; 
  width: 320px;
  left: 50%; 
  transform: translateX(-50%);
  top: 20px;
}

.credits-content .credits-header { 
  display: flex;
  justify-content: space-between;
  height: 38px;
  color: #FFFFFF;
  background-color: #0808a9;
}

.credits-header p { 
  position: relative; 
  top: 10px;
  font-size: 20px;
}

.credits-content .credits-buttons { 
  position: relative;
  top: 4px;
}

.credits-content .credits-buttons .minimize { 
  display: none;
}

.credits-content .credits-buttons .closeOut { 
  background-image: url('img/closeOut.png');
  background-size: 25px;
  height: 25px;
  width: 28px;
  background-repeat: no-repeat;
  position: relative; 
}
.credits-content .credits-options { 
  background-color: var(--grey); 
  height: 18px;
  display: flex;
  justify-content: left;
}

.credits-options p { 
  margin: 0;
  padding-left: 3px;
  padding-top: 2px;
}

.credits-content .credits-separator { 
  width: 100%;
  height: 4px;
  border-top: 1px solid var(--darkerGrey);
  background-color: var(--grey);
}

.credits-content .information { 
  background-color:#ffffe1; 
  display: table;
  margin: 0 auto;
  border-top: 2px solid #000000;
  border-left: 2px solid #000000;
  border-right: 2px solid #FFFFFF; 
  border-bottom: 2px solid #FFFFFF; 
  width: 300px; 
  height: 200px; 
  position: relative;
  text-align: left;
  left: 0px;
}

.credits-content .information p { 
  font-size: 22px;
  margin: 20px;
  text-align: left;
}


.credits-content .credits-footer { 
  background-color: var(--grey); 
  width: 302px; 
  margin: 0 auto;
  height: 27px;
  border-top: 1px solid var(--darkerGrey); 
  border-left: 1px solid var(--darkerGrey); 
  border-bottom: 1px solid #FFFFFF; 
  border-right: 1px solid #FFFFFF;
  padding-top: 1px;
  position: relative;
  left: 1px;
}

.credits-footer .credits-footer-content { 
  display: flex;
  justify-content: space-between;
}

.credits-footer-content p { 
  margin-top: 6px;
  margin-left: 4px;
  text-align: center;
}

.credits-footer-content img { 
  margin-top: 10px;
}

/* Taskbar */
#taskbar { 
  position: fixed;
  margin: 0 auto;
  width: 100%;
}

#taskbar .startButton { 
  width: 120px;
  left: 10px;
  font-size: 30px;
}

#taskbar .startButton input { 
  position: relative;
  left: -2px;
}

#taskbar .startButton p { 
  position: relative; 
  left: -6px;
  top: -20px;
}

/* Terminal */
.terminal-content { 
  position: relative;
  border-top: 2px solid #FFFFFF; 
  border-left: 2px solid #FFFFFF;
  border-bottom: 2px solid var(--darkerGrey);
  border-right: 2px solid var(--darkerGrey);
  background-color: var(--grey);
  height: 406px; 
  width: 350px;
  left: 50%; 
  transform: translateX(-50%);
  top: 20px;
}

.terminal-content .terminal-header { 
  display: flex;
  justify-content: space-between;
  height: 38px;
  color: #FFFFFF;
  background-color: #0808a9;
}

.terminal-header p { 
  position: relative; 
  top: 10px;
  font-size: 20px;
}

.terminal-header h4 { 
  position: relative;
  left: -75px;
  font-size: 22px;
  top: 6px;
}

.terminal-content .terminal-buttons { 
  position: relative;
  top: 4px;
}

.terminal-content .terminal-buttons .minimize { 
  display: none;
}

.terminal-content .terminal-buttons .closeOut { 
  background-image: url('img/closeOut.png');
  background-size: 25px;
  height: 25px;
  width: 28px;
  background-repeat: no-repeat;
  position: relative; 
}
.terminal-content .terminal-options { 
  background-color: var(--grey); 
  height: 18px;
  display: flex;
  justify-content: left;
}

.terminal-options p { 
  margin: 0;
  padding-left: 3px;
  padding-top: 2px;
}

.terminal-content .terminal-separator { 
  width: 100%;
  height: 4px;
  border-top: 1px solid var(--darkerGrey);
  background-color: var(--grey);
}

.terminal-content .css-typing { 
  width: 343px; 
  height: 310px;
  position: relative;
  display: flex; 
  flex-direction: column;
  text-align: left;
  left: -1px;
}

.terminal .css-typing p { 
  font-size: 18px;
  margin: 0;
  text-align: left;
}


.terminal-content .terminal-footer { 
  background-color: var(--grey); 
  width: 344px; 
  margin: 0 auto;
  height: 27px;
  border-top: 1px solid var(--darkerGrey); 
  border-left: 1px solid var(--darkerGrey); 
  border-bottom: 1px solid #FFFFFF; 
  border-right: 1px solid #FFFFFF;
  margin-top: 2px;
  position: relative;
  left: 0px;
}

.terminal-footer .terminal-footer-content { 
  display: flex;
  justify-content: space-between;
}

.terminal-footer-content p { 
  margin-top: 6px;
  margin-left: 4px;
  text-align: center;
}

.terminal-footer-content img { 
  margin-top: 10px;
}

}